In [1]:
import pandas as pd

# Sample dataset slice

 In this notebook we create a mock dataset to help build and debug our model faster. It consists of 10 interactions - 10 unique users and 4 unique recipes - a very small slice from the original dataset that is by no means representative of the distribution of our data, but has the same structure.

In [2]:
interactions = pd.read_csv("../data/foodRecSys-V1_kaggle/raw-data_interaction.csv", nrows = 500)
interactions

      user_id  recipe_id  rating           dateLastModified
0     8542392     222388       5  2017-04-22T12:46:43.663\n
1    11174581     222388       5   2013-06-20T15:50:25.96\n
2     8262477     222388       5  2015-02-14T07:27:51.307\n
3     3574785     240488       5  2017-10-07T18:20:08.973\n
4    12145410     240488       2  2018-01-06T00:06:09.563\n
..        ...        ...     ...                        ...
495  11495578      23658       5   2017-07-23T20:57:45.33\n
496    621557      23658       4   2005-11-03T17:02:06.31\n
497    659269      23658       5  2012-09-04T08:30:49.707\n
498  13690528      23658       5  2014-05-29T08:00:27.763\n
499   5884322      23658       5  2016-09-10T02:19:09.163\n

[500 rows x 4 columns]

In [3]:
# choose indices so that we have at leas one sample for all available ratings (1 to 5)
interactions = interactions.iloc[[0, 1, 4, 8, 49, 50, 51, 207, 208, 491]].reset_index()
interactions

   index   user_id  recipe_id  rating           dateLastModified
0      0   8542392     222388       5  2017-04-22T12:46:43.663\n
1      1  11174581     222388       5   2013-06-20T15:50:25.96\n
2      4  12145410     240488       2  2018-01-06T00:06:09.563\n
3      8   2805827     240488       4   2017-11-03T00:48:01.04\n
4     49   2963807      87211       3   2008-06-12T12:16:44.05\n
5     50    674114      87211       5  2008-03-29T02:38:27.153\n
6     51   2056462      87211       5  2008-11-25T19:53:18.057\n
7    207   2945555     245714       5  2016-01-15T15:54:11.537\n
8    208  10819660     245714       4   2016-08-06T21:42:26.13\n
9    491   9101203      23658       1  2012-04-06T10:09:57.547\n

In [4]:
interactions.dateLastModified = pd.to_datetime(interactions.dateLastModified, format = "ISO8601")
interactions.dateLastModified = interactions.dateLastModified.astype(dtype = "int64")
interactions

   index   user_id  recipe_id  rating     dateLastModified
0      0   8542392     222388       5  1492865203663000000
1      1  11174581     222388       5  1371743425960000000
2      4  12145410     240488       2  1515197169563000000
3      8   2805827     240488       4  1509670081040000000
4     49   2963807      87211       3  1213273004050000000
5     50    674114      87211       5  1206758307153000000
6     51   2056462      87211       5  1227642798057000000
7    207   2945555     245714       5  1452873251537000000
8    208  10819660     245714       4  1470519746130000000
9    491   9101203      23658       1  1333706997547000000

In [5]:
interactions.to_csv("../mock_data/mock-data_interaction_10.csv", index = False)

In [6]:
mock_interactions = pd.read_csv("../mock_data/mock-data_interaction_10.csv")
mock_interactions

   index   user_id  recipe_id  rating     dateLastModified
0      0   8542392     222388       5  1492865203663000000
1      1  11174581     222388       5  1371743425960000000
2      4  12145410     240488       2  1515197169563000000
3      8   2805827     240488       4  1509670081040000000
4     49   2963807      87211       3  1213273004050000000
5     50    674114      87211       5  1206758307153000000
6     51   2056462      87211       5  1227642798057000000
7    207   2945555     245714       5  1452873251537000000
8    208  10819660     245714       4  1470519746130000000
9    491   9101203      23658       1  1333706997547000000

In [7]:
len(mock_interactions.user_id.unique())

10

In [8]:
mock_interactions.recipe_id.unique()

array([222388, 240488,  87211, 245714,  23658], dtype=int64)

In [9]:
mock_interactions.rating.sort_values().unique()

array([1, 2, 3, 4, 5], dtype=int64)